@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --color-font: #e4e4e4;
    --color-font-dark: #dedede;
    --color-black: #1b1b1b;
    --color-black-dark: #0f0f0f;
    --color-primary: #B90E0A;
    --color-primary-light: #c80815;
    --color-primary-dark: #660000;

    --color-gray: #15151e;
    --color-gray-light: #7f7f7f;

    --color-yellow: #ffc000;
    --color-yellow-light: #ffdf22;

    --color-purple-dark: #311432;
    --color-purple: #6F2DA8;
    --color-purple-light: #af69ee;

    --color-blue: #2196f3;

    --color-green: #008000;
  
    --transition: all 400ms ease;
  
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    color: --color-gray;
    height: 100%;
}

html.dark {
    background-color: var(--color-gray);
    color: var(--color-font);
}

body {
    height: 100%;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    height: 100%;
}

svg {
    display: inline;
}

.title-font {
    font-family: "Bangers", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--color-blue);
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}